{% extends 'index.html' %} {% block body %}

<div class="container pt-2" style="font-family: Luminari">
  <div class="my-2">
    <h1>KKC4 Field Information</h1>
  </div>

  {% for f in fields %}
  <div class="row">
    <div class="col-3">
      <h2>{{f.info.name}}</h2>
      <span>
        {% if f.master is None %} NPC {% else %} {{f.master.info.name}} {% endif
        %}
      </span>
    </div>
    <div class="col-4">
      <ul class="list-group my-2">
        <li class="list-group-item list-group-item-info">
          <h4>EP in Field</h4>
        </li>
        <li class="list-group-item player-ep">[player] - [EP]</li>
      </ul>
      <span class="my-2">Elevate:</span>
      <ul class="list-group my-2">
        <li class="list-group-item elevate">[Player]</li>
      </ul>
    </div>
    <div class="col-4">
      <ul class="list-group my-2">
        <li class="list-group-item list-group-item-danger">
          <h4>DP Filed</h4>
        </li>
        <li class="list-group-item dp-filed">[DP1]</li>
        <li class="list-group-item dp-filed">[DP2]</li>
        <li class="list-group-item dp-filed">[DP3]</li>
        <li class="list-group-item dp-filed">[DP4]</li>
        <li class="list-group-item dp-filed">[DP5]</li>
      </ul>
    </div>
  </div>
  <hr />
  {% endfor %}

  <div class="my-2">
    <!-- TODO -->
    <button class="btn btn-primary" type="button">Roll Elevation</button>
  </div>
</div>

{ % endblock % }
