{% extends 'index.html' %} {% block body %}

<div class="container mt-2">
  <div class="my-2">
    <h1 class="h1-input">KKC4 Input</h1>
  </div>
  <hr />

  {% for p in players %}

  <div class="row">
    <div class="col-2 my-2">
      <div class="row">
        <h2 class="h2-input">{{p.info.name}}</h2>
      </div>
    </div>
    <div class="col-4 my-2">
      <div class="row">
        <h3 class="h3-input">Votes</h3>
      </div>
      <div class="row">
        {% for i in range(4) %}
        <div class="input-group">
          <select class="form-select" id="Vote" name="Players">
            <option value="None">None</option>
            <!-- sane players only? -->
            {% for player in playerlist %}
            <option value="{{player}}">{{player}}</option>
            {% endfor %}
          </select>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-5 my-2">
      <div class="row">
        <h3 class="h3-input">PM/Posts</h3>
      </div>
      <div class="row">
        <div class="col-6">
          <span>PM Count:</span>
        </div>
        <div class="col-6">
          <input
            type="Number"
            class="form-control input-group-text PM-input"
            name="PMInput"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span>Post Count:</span>
        </div>
        <div class="col-6">
          <input
            type="Number"
            class="form-control input-group-text PM-input"
            name="PMInput"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span>QRP WC:</span>
        </div>
        <div class="col-6">
          <input
            type="Number"
            class="form-control input-group-text PM-input"
            name="PMInput"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span>QPost WC:</span>
        </div>
        <div class="col-6">
          <input
            type="Number"
            class="form-control input-group-text PM-input"
            name="PMInput"
          />
        </div>
      </div>
      <div class="row my-3">
        <div class="col-6">
          <span>RP Apology:</span>
        </div>
        <div class="col-6">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="RPApology"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />

  { % endfor %}
</div>

{% endblock %}
