<div class="container" Style="font-family:Luminari">
  <div id="ArcanumBasics" class="row my-4">
    <h1>
      Arcanum Basics
    </h1>
  </div>
  <div class="row">
    <p>
      The Arcanum is where all the fun happens at the University. Led by the nine Masters, there are <a href=#ArcanumFields>many different fields of study</a> in which for students to try their hands: <a href=#Sympathy>Sympathy</a>, <a href=#Artificery>Artificery</a>, <a href=#Alchemy>Alchemy</a>, <a href=#Naming>Naming</a>, <a href=#RhetoricLogic>Rhetoric and Logic</a>, <a href=#Arithmetic>Arithmetic</a>, <a href=#Linguistics>Linguistics</a>, <a href=#Physicking>Physicking</a>, and <a href=#Archives>the Archives</a>. University students do not start in the Arcanum. They are brought into the Arcanum once they have shown they have the moral fortitude necessary for a member of the Arcanum, are sponsored by <a href=#Masters>a Master</a>, and are elevated to the rank of E’lir, which is the lowest of the Arcanum ranks. Once you are in the Arcanum, you can be elevated again, through the ranks of Re’lar and El’the and potentially become a Master of a field.
    </p>
  </div>
  <div id="Ranks" class="row">
    <div class="col">
      <h2>
        Ranks and Elevation Point System
      </h2>
    </div>
  </div>
  <div class="row">
    <p>
      There are 3 ranks in the Arcanum: E’lir, Re’lar, and El’the. In order to get into the Arcanum, students must impress a Master and be elevated.
    </p>
  </div>
  <div class="row" id="Elevations">
    <strong style="text-decoration:underline">Elevations</strong>
  </div>
  <div class="row">
    <p>
      In general, each Master elevates 1 student per turn. (Rank is not relevant; they might elevate an E’lir or Re’lar.) A student’s first elevation makes them an E’lir, second Re’lar, and third El’the. These elevations do <em>not</em> all have to occur in the same field, but some abilities become more powerful if a student levels more than once in the same field.
    </p>
  </div>
  <div class="row">
    <div class="example my-2">
      <strong>Example</strong>: Elbereth is elevated to E’lir by the Master Alchemist, and then the Master Linguist elevates her. She is now a Re’lar, so she can create firestop (a Re’lar and above item), but she only has a single level in Alchemy so the firestop uses the first-level upgrade, not second. If she is later elevated to <em>Master</em> Alchemist, she automatically gets the Master-level upgrade even if not all of her elevations were in Alchemy. She also has a single level in Linguistics, so she has a single Linguist ability.
    </div>
  </div>
  <div class="row mt-3" id="ElevationPoints">
    <strong style="text-decoration:underline">Elevation Points</strong>
  </div>
  <div class="row">
    <p>
      Every student has a certain number of Elevation Points (EP) to spend per turn. (These points do not roll over if unspent.) Spending EP in a particular field (also referred to as impressing a Master) increases the chance of being elevated if the Master is an NPC, and 15 EP are needed to become a Master. EP can be spent all in one field, or spread over several, and the student retains all EP spent in that field until it is used up for an elevation, disciplinary actions, or IP.
    </p>
  </div>
  <div class="row">
    <div class="example my-2">
      <strong>Example</strong>: Wilson currently gets 5 EP per turn. She spends 3 in Alchemy and 2 in Artificery. Next turn, she spends all 5 EP in Artificery, and at the end of that turn she has 3 EP in Alchemy and 7 in Artificery.
    </div>
  </div>
  <div class="row mt-2">
    Students by default start outside of the Arcanum, and have 5 EP to spend each turn.
  </div>
  <div class="row">
    <ul>
      <li class="star">E’lir’s have 4 EP each turn.</li>
      <li class="star">Re’lar’s have 3 EP each turn.</li>
      <li class="star">El’the’s have 2 EP each turn.</li>
      <li class="star">Masters cannot spend EP.</li>
    </ul>
  </div>
  <div class="row">
    <p>
      Elevated students may still spend as many EP as they would have had the turn they are elevated. (That is, if an E’lir is elevated to a Re’lar, they will still be able to spend the 4 EP they intended to spend that turn even though elevations occur before EP filing.)
    </p>
  </div>
  <div class="row">
    <div class="note my-2">
      <strong><em>Important Note</em></strong>: If you are staying in The Windy Tower, the number of EP you have available increases by one. Unless you are a Master, since Masters cannot spend EP.
    </div>
  </div>
  <div class="row my-2" id="BeingElevated">
    <strong style="text-decoration:underline">Being Elevated</strong>
  </div>
  <div class="row">
    <p>
      At the end of each turn, Masters get a list of everyone with EP in their field. (Masters also know how many elevations in their field each living, enrolled, sane student has.) That next turn, each Master chooses who (if any) on this list they wish to elevate. NPC-controlled Masters will choose who to elevate at random, with chances proportional to how many EP each student in their field has spent. PC Masters can choose at their discretion, from among the pool of players with EP in their field.
    </p>
  </div>
  <div class="row">
    <div class="example my-2">
      <strong>Example</strong>: Straw has 3 Archives EP and Maill and Fifth both have 5 Archives EP each. There are 13 Archives EP that have been spent in total. Straw has a 3/13 chance of being elevated and Maill and Fifth both have 5/13.
    </div>
  </div>
  <div class="row">
    <p>
      Elevations cost a maximum of 5 EP. If a student is elevated and has less than 5 EP, they will lose all their points in that field. If they have more than 5 EP, they will only lose 5.
    </p>
    <p>
      Students elevated will be revealed in the writeup, but what field they were elevated in will not be.
    </p>
  </div>
  <div class="row" id="BecomingAMaster">
    <div class="mt-2">
      <strong>Becoming a Master</strong>: An El’the who accrues 15 EP in a field will become the Master of that field, if there is no other player currently holding the position. El’the’s who have only been elevated in a single field gain an automatic 5 EP in that field upon elevation to El’the.
    </div>
  </div>
  <div class="row">
    <ul>
      <li class="star">If there is a current PC Master, then the next El’the with 15 EP would become Master if the current one were to lose that Mastery. (Assuming that the El’the still has 15 EP, as they can be used up for disciplinary actions or IP.) A second El’the with 15 EP would be second in line, and so on, ordered by who has had 15 EP for the longest amount of time. </li>
      <li class="star">You cannot be a Master of multiple fields at the same time. </li>
    </ul>
  </div>
  <div class="row">
    <strong style="text-decoration: underline"><em>Special Cases</em></strong>
  </div>
  <div class="row">
    <p>
      If multiple Masters try to elevate a student, the student will be elevated in the field in which they have the most EP. If both fields are tied, a coin will decide. If all students with EP in a Master’s field have been elevated that turn, the Master will not elevate. A PC Master can choose not to elevate anyone, should all of the options be undesirable to them. PC Masters can also submit a preference list of students available for elevation, in case another Master takes their first choice.
    </p>
  </div>
  <div class="row">
    <div class="example my-2">
      <strong>Example</strong>: The Master Artificer has 5 students with Artificery EP. If he’s worried his first choice will be elevated in another field, he can submit a list like this: 1-Burnt, 2-Hael, 3-Lumgol, 4-Elbereth. If Burnt is taken, Hael will be elevated. If Hael was also elevated by a different Master, Lum will be elevated. Etc.
    </div>
  </div>
  <div class="row mt-3" id="Masters">
    <h2>
      Masters
    </h2>
  </div>
  <div class="row">
    <p>
      There are nine Masters at the University. They are Linguist, Arithmetician, Rhetorician, Archivist, Physicker, Sympathist, Artificer, Alchemist, and Namer. When a player <a href=#BecomingAMaster>becomes a Master</a> in a field, they learn all the abilities of that field at Master level, if they didn’t already know everything in that field. There are also certain game mechanics that change slightly for Masters.
    </p>
  </div>
  <div class="row">
    <strong style="text-decoration:underline">The Horns</strong>
  </div>
  <div class="row">
    <p>
      Masters cannot be brought <a href=#TheHorns>On the Horns</a>. All Disciplinary Points on a Master are dissolved.
    </p>
  </div>
  <div class="row">
    <strong style="text-decoration:underline">Lodging and Tuition</strong>
  </div>
  <div class="row">
    <p>
      To make things easier, Masters do still have to worry about <a href=#Lodging>Lodging</a>. The Lodging options are the same as they are for students, but cost 25% less for Masters.
    </p>
    <p>
      Masters also still have to pay tuition. However, their default tuition is halved to 5 talents, before any relevant reductions or inflations. If a Master cannot pay tuition, they are removed from their position and replaced with either a player, if one is available to become a Master in the field or an NPC. Once they pay the tuition they failed to pay, they will regain their position as a Master, assuming a PC hasn’t taken it. If one has, the former Master will be second in line.
    </p>
    <p>
      Stipend remains the same.
    </p>
  </div>
  <div class="row">
    <strong style="text-decoration:underline">Kills, Sabotages and Insanity</strong>
  </div>
  <div class="row">
    <p>
      If a PC Master is killed or sabotaged, the Master will go back to being NPC-controlled. If a former Master breaks out of <a href=#Insanity>the Crockery</a> and their field is still NPC-controlled, they will not become the Master of that field once again. They will permanently be reduced to El’the (unless they go insane and break out again, in which case they become Re’lar, etc).
    </p>
  </div>
  <div class="row" id="SkindancerMasters">
    <strong style="text-decoration:underline">Skindancer Masters</strong>
  </div>
  <div class="row">
    <p>
      If a Skindancer becomes a Master, they have a special ability they can use on any turn while they are a Master: destroy that field of study. If a field is destroyed, no one else can be elevated into it, even if the Skindancer Master is killed. Students already in the field can continue using the powers they already have and create items they already knew how to create before the field was destroyed, but they cannot gain new powers or learn to use new items or abilities (even if they are elevated to the appropriate rank to know them).
    </p>
  </div>
</div>