fieldset {
  border: 3px solid #000;
  padding-left: 10px;
  padding-bottom: 10px;
}

legend {
  width: inherit;
  /* Or auto */
  padding: 0 10px;
  /* To give a bit of padding on the left and right */
  border-bottom: none;
}

.actions {
  color: #4f0053;
  background-color: #fff6ff;
}

.apothecary {
  color: #26580b;
}

.apothecary-input {
  background-color: #fff;
  border: 1px solid #91839b;
}

.apothecary-player-page {
  padding-left: 20px;
}

.black-market-contract-player-page {
  background-color: #eadcf2;
  color: #4e3f59;
}

.black-market-contracts {
  color: #0b4486;
}

.black-market-items {
  color: #706a11;
}

.center {
  margin: auto;
  width: 50%;
  border: 4px solid #3c035f;
  padding: 10px;
}

.cycle {
  padding-top: 3px;
  border: 4px solid #bcc500;
  background-color: #feffe1;
  color: #5b5d08;
  margin-left: 1px;
}

.dice {
  list-style-type: "\2684\0020";
}

.dice-input {
  background-color: #fff;
  border: 1px solid #91839b;
}

.distro-form {
  box-sizing: border-box;
  background-color: #f3f9f8;
  border: 4px solid #015149;
}

.elevate {
  background-color: #035659;
  color: #e8f4f4;
}

.elevations {
  border: 2px solid #06005b;
  padding-left: 10px;
}

.ep-input {
  background-color: #fff;
}

.fieldset-imre {
  border: 3px solid #660271;
  padding-left: 10px;
  padding-bottom: 10px;
}

.fieldset-uni {
  border: 3px solid #024995;
  padding-left: 10px;
  padding-bottom: 10px;
}

.h1-field-info {
  color: #759631;
  text-align: center;
}

.h1-imre {
  color: #670d79;
  text-decoration: underline;
  text-align: center;
}

.h1-input {
  color: #5f7fa4;
  text-align: center;
}

.h1-player-info {
  color: #1d235d;
}

h2-field-info {
  font-size: 20px;
  color: #2b517d;
  font-weight: bold;
}

.h2-imre {
  font-size: 20px;
  font-weight: bold;
}

.h2-input {
  font-size: 15px;
}

.h2-player-info {
  font-size: 20px;
  color: #0d5f79;
  font-weight: bold;
}

.h2-player-page {
  text-align: center;
  color: #660271;
}

.h3-input {
  font-size: 15px;
}

.history {
  border: 2px solid #06005b;
  padding-left: 10px;
}

.info {
  margin: auto;
  width: 50%;
}

.input-group-text {
  background-color: #fff;
  font-size: 12px;
  width: 80px;
  margin: auto;
}

.insanity-modifier {
  background-color: #ebdaec;
  color: #6a0c70;
}

.legend-imre {
  color: #660271;
}

.legend-uni {
  color: #024995;
}

.list-group-imre-players {
  background-color: #e8b6f2;
  color: #700985;
  text-align: center;
}

.loaded-Dice {
  padding-right: 30px;
}

.moneylenders {
  color: #d62b71;
}

.musical {
  background-color: #6a0c70;
  color: #ebdaec;
}

.player {
  background-color: #f6f2f9;
  color: #6e3491;
}

.player-actions {
  color: #9f23b8;
}

.submit {
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
}

.submit:hover {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    red
  );
  animation: slidebg 3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
