{% extends 'index.html' %} {% block body %}

<div class="container pt-2" style="font-family: Luminari">
  <div class="row">
    <div class="col-9 player center">
      <h1 style="text-align: center">{{ player.info.name }}</h1>
    </div>
    <div class="col-2 cycle">
      <h4 style="text-align: center">Term {{player.month // 3 + 1}}</h4>
      <h4 style="text-align: center">Month {{player.month + 1}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-9 info">
      <p>
        You are a {{ player.info.social_class.fullname }}
        <strong>
          {% if player.info.is_evil %}Skindancer {% else %}Student {% endif %}
        </strong>
        currently {% if player.status.is_enrolled %}enrolled at the University.
        {% elif player.status.is_expelled %}expelled from the University. {%
        else %}unenrolled at the University. {% endif %}You have [TODO] of
        elevation(s) in {{player.status.elevations}}. You are staying in
        {{player.status.lodging.fullname}}.<br />
        Your stipend is {{ player.status.stipend }} talents and your tuition
        this term was {{player.status.current_tuition}}.
      </p>
      <p>[performance flavor text]</p>
      <p>
        <a href="{{ url_for('rules_game_basics') }}">Rules</a>
      </p>
    </div>
    <div class="col-2">[countdown]</div>
  </div>

  {% if player.info.is_evil %}
  <div class="row">
    <div class="col-12 mt-2">
      <fieldset>
        <legend align="center" style="color: red">Skindancers</legend>
        <div class="row">
          <div class="col-6">
            <span>[Access the doc here!]</span>
          </div>
          <div class="col-6">
            <span>Current Sabotage Target: []</span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-6 mt-2">
      <fieldset>
        <legend align="center">Inventory</legend>
        <div>
          <p>You have {{player.status.print_money()}}.</p>
          <p>You have [TODO] item(s).</p>
          <p>You have [] debts.</p>
          <p>You have [] contracts</p>
          <ul>
            {% for item in player.status.inventory %}
            <li>
              {{item.name}} {% if item.uses > 0 %} - {{item.uses}} use(s) {%
              endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- TODO inventory list -->
      </fieldset>
    </div>
    <form class="col-6" method="post">
      <div>
        <fieldset class="mt-2">
          <legend align="center">Next Term</legend>
          <div class="input-group">
            <span
              class="input-group-text"
              style="background-color: #f7c1f1; color: #7b086e"
              >Lodging:</span
            >
            <select class="form-select" id="Lodging" name="Lodging">
              <option value="Streets">On the Streets</option>
              {% if player.status.broke_out %}
              <option value="Underthing">The Underthing</option>
              {% endif %} {% if not player.status.is_expelled %}
              <option value="Mews">The Mews</option>
              {% endif %}
              <option value="Anker's">Anker's</option>
              <option value="King's-Drab">The King's Drab</option>
              <option value="Golden-Pony">The Golden Pony</option>
              <option value="Windy-Tower">The Windy Tower</option>
              <option value="Horse-and-Four">The Horse and Four</option>
              <option value="Spindle-and-Draft">The Spindle and Draft</option>
              {% if not player.status.IMRE_INFO["GILES_defaulted"] %}
              <option value="Grey-Man" style="color: #c30b7f">
                The Grey Man
              </option>
              {% endif %}
              <option value="Pearl-of-Imre" style="color: #c30b7f">
                The Pearl of Imre
              </option>
            </select>
          </div>
          <div class="col-md-12">
            {% if not player.status.is_expelled %}
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="nextterm"
                id="enroll"
                value="enroll"
              />
              <label class="form-check-label" for="enroll">
                Enroll at University
              </label>
            </div>
            {% endif %}
            <!-- TODO -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="imre_next"
                id="imre_next"
                value="imre_next"
              />
              <label class="form-check-label" for="imre_next">
                Go to Imre
              </label>
            </div>
          </div>
          <div class="col-12 my-3">
            <button
              type="submit"
              class="btn submit"
              id="submitNextTerm"
              name="submitNextTerm"
            >
              Submit
            </button>
          </div>
        </fieldset>
      </div>
    </form>
    <form class="col-6 mt-2" method="post">
      <div>
        <fieldset class="fieldset-uni">
          <!-- TODO CHECK IF ROLEBLOCKED IN STATUS -->
          <legend align="center" class="legend-uni">Actions</legend>
          {% for i, ap in player.status.action_periods %}
          <div class="input-group">
            <!-- TODO only show possible # of action periods etc -->
            <span class="input-group-text actions">{{ap}}</span>
            <select class="form-select" id="action{{i}}" name="action{{i}}">
              <option value="None">--</option>
              {% for a in player.status.accessible_abilities %}
              <option value="{{a}}">{{a.info.name}}</option>
              {% endfor %}
            </select>

            <!-- VARIOUS TARGET TYPES -->
            <select class="form-select" id="targetplayer" name="targetplayer">
              <!-- TODO only living players -->
              {% for p in playerlist %}
              <option value="{{p.name}}">{{p.name}}</option>
              {% endfor %}
            </select>

            <!-- ? consider diff list for this? -->
            <select class="form-select" id="targetaction" name="targetaction">
              {% for at in ActionType %}
              <option value="{{at.info.name}}">{{at.info.name}}</option>
              {% endfor %}
            </select>

            <select class="form-select" id="targetlodging" name="targetlodging">
              <option value="Underthing">The Underthing</option>
              <option value="Mews">The Mews</option>
              <option value="Anker's">Anker's</option>
              <option value="King's-Drab">The King's Drab</option>
              <option value="Golden-Pony">The Golden Pony</option>
              <option value="Windy-Tower">The Windy Tower</option>
              <option value="Horse-and-Four">The Horse and Four</option>
              <option value="Spindle-and-Draft">The Spindle and Draft</option>
              <option value="Grey-Man" style="color: #c30b7f">
                The Grey Man
              </option>
              <option value="Pearl-of-Imre" style="color: #c30b7f">
                The Pearl of Imre
              </option>
            </select>

            <select class="form-select" id="targetitem" name="targetitem">
              {% for it in items %}
              <option value="{{it.name}}">{{it.name}}</option>
              {% endfor %}
            </select>

            <select class="form-select" id="targetfield" name="targetfield">
              <option value="None">--</option>
              <option value="Linguistics">Linguistics</option>
              <option value="Arithmetics">Arithmetics</option>
              <option value="RhetoricLogic">Rhetoric/Logic</option>
              <option value="Archives">Archives</option>
              <option value="Sympathy">Sympathy</option>
              <option value="Physicking">Phsysicking</option>
              <option value="Alchemy">Alchemy</option>
              <option value="Artificery">Artificery</option>
              <option value="Naming">Naming</option>
            </select>

            <!-- TODO events, other, Names -->

            <!-- SECONDDARY TARGET -->
            <select class="form-select" id="targetplayer2" name="targetplayer2">
              <!-- TODO only living players -->
              {% for p in playerlist %}
              <option value="{{p.name}}">{{p.name}}</option>
              {% endfor %}
            </select>

            <!-- ? consider diff list for this? -->
            <select class="form-select" id="targetaction2" name="targetaction2">
              {% for at in ActionType %}
              <option value="{{at.info.name}}">{{at.info.name}}</option>
              {% endfor %}
            </select>

            <select class="form-select" id="targetitem2" name="targetitem2">
              {% for it in items %}
              <option value="{{it.name}}">{{it.name}}</option>
              {% endfor %}
            </select>

            <!-- TODO abilities, other -->
          </div>
          {% endfor %}

          <textarea class="form-control" style="margin-right: 10px">
Notes</textarea
          >

          <div class="col-12 my-3">
            <button
              type="submit"
              class="btn submit"
              id="submitAction"
              name="submitAction"
            >
              Submit Actions
            </button>
          </div>
        </fieldset>
      </div>
    </form>
    <form class="col-6 pt-2" method="post">
      <div>
        <fieldset class="fieldset-uni">
          <!-- todo if can_file_EP (else gray) -->
          <legend align="center" class="legend-uni">Elevation Points</legend>
          <div class="row">
            <div class="col-5">
              {% for n in range(player.status.available_EP) %}
              <!-- TODO show in dropdown your prev selections -->
              <div class="input-group">
                <select class="form-select" id="fieldep{{n}}" name="field{{n}}">
                  <option value="None">--</option>
                  <option value="Linguistics">Linguistics</option>
                  <option value="Arithmetics">Arithmetics</option>
                  <option value="RhetoricLogic">Rhetoric/Logic</option>
                  <option value="Archives">Archives</option>
                  <option value="Sympathy">Sympathy</option>
                  <option value="Physicking">Phsysicking</option>
                  <option value="Alchemy">Alchemy</option>
                  <option value="Artificery">Artificery</option>
                  <option value="Naming">Naming</option>
                </select>
              </div>
              {% endfor %}

              <div class="col-12 my-3">
                <button
                  type="submit"
                  class="btn submit"
                  id="submitEP"
                  name="submitEP"
                >
                  Submit EP
                </button>
              </div>
            </div>
            <div class="col-7">
              <!-- TODO -->
              <span
                >You currently have EP in: <br />
                {{player.status.EP}}
                <br />
              </span>
              <span style="text-decoration: underline"
                ><strong>Insanity Reduction</strong></span
              >
              <!-- todo number thingo instead probs (increments of four only) -->
              <textarea class="form-control me-2"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <fieldset class="fieldset-uni">
        <legend align="center" class="legend-uni">Elevations</legend>
        <div>
          <p>
            On T1M1, you were elevated in R/L and have access to the following
            abilities:
          </p>
        </div>
      </fieldset>
    </div>
  </div>

  {% if player.status.master_of %}
  <!-- TODO -->
  <form class="row">
    <div class="col-12 pt-2">
      <fieldset class="fieldset-uni">
        <legend align="center" class="legend-uni">Masters</legend>
        <div class="row">
          <div class="col-3">
            <span>Players with EP:</span>
            <!-- TODO -->
          </div>
          <div class="col-3">
            <span>Elevate:</span>
            <select class="form-select" id="target1" name="target1">
              <option value="Stink">Stink</option>
              <option value="Elbereth">Elbereth</option>
              <option value="Wilson">Wilson</option>
            </select>
          </div>
          <div class="col-6">
            <span style="font-weight: bold">Discipline Points</span>
            <div class="input-group">
              <select class="form-select" id="dp1" name="dp1">
                <option value="Burnt">Burnt</option>
                <option value="Hael">Hael</option>
                <option value="Fifth">Fifth Scholar</option>
                <option value="Araris">Araris</option>
                <option value="StrikerEZ">StrikerEZ</option>
              </select>
            </div>
            <div class="input-group">
              <select class="form-select" id="dp1" name="dp1">
                <option value="Burnt">Burnt</option>
                <option value="Hael">Hael</option>
                <option value="Fifth">Fifth Scholar</option>
                <option value="Araris">Araris</option>
                <option value="StrikerEZ">StrikerEZ</option>
              </select>
            </div>
            <div class="input-group">
              <select class="form-select" id="dp1" name="dp1">
                <option value="Burnt">Burnt</option>
                <option value="Hael">Hael</option>
                <option value="Fifth">Fifth Scholar</option>
                <option value="Araris">Araris</option>
                <option value="StrikerEZ">StrikerEZ</option>
              </select>
            </div>
            <div class="input-group">
              <select class="form-select" id="dp1" name="dp1">
                <option value="Burnt">Burnt</option>
                <option value="Hael">Hael</option>
                <option value="Fifth">Fifth Scholar</option>
                <option value="Araris">Araris</option>
                <option value="StrikerEZ">StrikerEZ</option>
              </select>
            </div>
            <div class="input-group">
              <select class="form-select" id="dp1" name="dp1">
                <option value="Burnt">Burnt</option>
                <option value="Hael">Hael</option>
                <option value="Fifth">Fifth Scholar</option>
                <option value="Araris">Araris</option>
                <option value="StrikerEZ">StrikerEZ</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
  {% endif %} {% block imre %} {% endblock %}

  <div class="row">
    <div class="col-12 my-2">
      <fieldset>
        <legend align="center">History</legend>
        <div>
          <p>On T1M1, you did [this]</p>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<script src="../static/playerpage.js"></script>

{% endblock %}
