{% extends 'base_rules.html' %} {% block rules %}
<div class="container" style="font-family: Luminari">
  <div id="ArcanumFields" class="my-4">
    <h1>Arcanum Fields</h1>
    <div class="row">
      <p>
        There are 9 different fields of study for students at the University. By
        impressing a Master (filing EP) and being elevated into a field,
        students learn abilities in that field. Most fields have 4 role
        abilities accessible. By impressing a Master multiple times and being
        elevated multiple times, students increase their knowledge in that
        field, and gain another ability.
      </p>
      <p>
        While most fields have role abilities, Alchemy and Artificery students
        are able to create items. Items can be kept by the student who made it,
        or they can be given away to other players. The Masters of Alchemy and
        Artificery do not give their students items to create. Each item in
        those fields requires students to be a certain level before they can
        make that item. Items take 2 action periods to create. This can be
        spread through one turn or two. If a student uses two action periods in
        a single turn to make an item quickly, they will not be able to
        <a href="{{ url_for('rules_game_basics') }}#Voting">file a complaint</a> or
        <a href="{{ url_for('rules_uni_basics') }}#ElevationPoints">impress a Master</a> (flavor-wise, because
        they’re too busy creating the item to focus on anything else).
      </p>
    </div>
    <div id="Linguistics" class="row my-2">
      <h2>Linguistics</h2>
    </div>
    <div class="row">
      <p class="my-1">
        The Linguistics field works solely with words and languages. The
        abilities are basic, but they get more powerful when combined together.
        Additionally, students who stick with Linguistics gain a little extra.
      </p>
      <ul>
        <li class="star">
          <strong>Second level upgrade</strong>: Gain a second action period.
        </li>
        <li class="star">
          <strong>Third level upgrade</strong>: Gain a third action period.
        </li>
        <li class="star">
          <strong>Master level upgrade</strong>: Gain a fourth action period.
            <button
              type="button"
              class="btn rounded-pill btn-sm bg-info"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-trigger="focus"
              data-bs-content="If you have no previous elevations in Linguistics, you still get access to all 3 general action periods you get from levels in Linguistics."
            >
              1
            </button>
        </li>
      </ul>
      <p>
        These are not Linguistic specific periods; they are effectively extra
        general action periods.
      </p>
    </div>
    <div class="list-group">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Hand Delivery</em></h5>
          <small class="text-muted">E'lir</small>
        </div>
        <p class="mb-2 flavor">
          You’re paranoid and hand-deliver your messages to the recipients.
        </p>
        <p class="mb-1">
          No one can peek at your messages, and you may send them to anyone
          (even if they are expelled).
        </p>
        <small>This is a passive ability that cannot be roleblocked.</small>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Mysterious Bulletins</em></h5>
          <small class="text-muted">Re'lar</small>
        </div>
        <p class="mb-2 flavor">
          In the middle of the night, you and a few friends post a message on as
          many surfaces around the University as you can.
        </p>
        <p class="mb-1">
          You can send an anonymous message in the writeup. The message can be
          as long as you like and it can contain words and images.
        </p>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Bribe the Messenger</em></h5>
          <small class="text-muted">El'the</small>
        </div>
        <p class="mb-2 flavor">
          You’ve made friends with the messengers and for a few drabs, they’ll
          let you take a peek at some of the messages your fellow students send.
        </p>
        <p class="mb-1">
          You can spy on the messages of 1 player. You will learn the contents
          of all incoming and outgoing PMs as well as the recipient or sender of
          the messages from that turn.
        </p>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Linguistic Analysis</em></h5>
          <small class="text-muted">Master</small>
        </div>
        <p class="mb-2 flavor">
          Your analysis skills are legendary. All you need to do is read a
          message from someone and you just know if they’re lying or telling the
          truth.
        </p>
        <p class="mb-1">
          You can ask the GM if your target lied the previous turn, and will
          receive yes/no for an answer. You are not told how many lies were told
          or what they were. This only applies to communication you have access
          to (the thread, PMs, or potentially PMs you’ve spied on).
        </p>
        <small
          >If the target tells a lie which they believe to be the truth, it will
          return as true.</small
        >
      </li>
    </div>
    <div id="Arithmetics" class="row my-2 pt-2">
      <h2>Arithmetics</h2>
    </div>
    <div class="row">
      <p>
        Master Arithmetists gain an action period. This action period is not
        specific to Arithmetic. All Arithmetists have access to all of their
        abilities.
      </p>
    </div>
    <div class="list-group">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Reduced Interest</em></h5>
        </div>
        <p class="mb-2 flavor">
          You have a knack for convincing moneylenders to give you reasonable
          interest rates.
        </p>
        <p class="mb-1">
          If you go to <a href="{{ url_for('rules_imre') }}#Devi">Devi</a> or <a href="#Giles">Giles</a>,
          your interest is cut by 20%.
        </p>
        <ul>
          <li class="check">
            <strong>Second level upgrade</strong>: 30% reduction
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: 40% reduction
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: 50% reduction
          </li>
        </ul>
        <small
          >This is a passive ability and cannot be roleblocked, but going to
          Devi’s can be.
        </small>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Pickpocket</em></h5>
        </div>
        <p class="mb-2 flavor">
          You’ve been practicing your sleight of hand while studying. You’ve
          gotten pretty adept at pickpocketing people and stealing some of their
          coins. However, since it’s pickpocketing, you can only really do it to
          the people who get close enough to you.
        </p>
        <ul>
          <li class="check">
            <strong>Second level upgrade</strong>: You take 20% of their coins.
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: You take 30% of their coins.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: You're able to choose your
            target.
          </li>
        </ul>
        <p class="mb-1">
          Target a random person targeting you that cycle and take 10% of their
          coins.
        </p>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Great Deals</em></h5>
        </div>
        <p class="mb-2 flavor">
          You have an eye for a good deal. Somehow, you’re able to talk your way
          into a deal no matter what you’re buying or selling.
        </p>
        <p class="mb-1">
          10% increase in the payout when you fulfill
          <a href="{{ url_for('rules_imre') }}#BlackMarket">a Black Market contract</a>. 10% decrease when
          purchasing items from <a href="{{ url_for('rules_imre') }}#BlackMarket">the Black Market</a> or
          <a href="{{ url_for('rules_imre') }}#NoxsApothecary">the Apothecary</a>.
        </p>
        <ul>
          <li class="check">
            <strong>Second level upgrade</strong>: 15% increase / decrease
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: 20% increase / decrease
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: 25% increase / decrease
          </li>
        </ul>
        <small
          >This is a passive ability and cannot be roleblocked, but going to the
          Apothecary or Black Market can be.</small
        >
        <br />
        <small
          >These percentages do stack, so if
          <a href="#Cealdish">a Cealdish Commoner</a> was an E'lir Arithmetist,
          they would get a 35% increase/decrease.</small
        >
      </li>
      <li class="list-group-item list-group-item-action" id="DecreasedTuition">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Decreased Tuition</em></h5>
        </div>
        <p class="mb-1">
          5% decrease to your <a href="#Admissions">tuition</a>.
        </p>
        <ul>
          <li class="check">
            <strong>Second level upgrade</strong>: 10% decrease
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: 15% decrease
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: 20% decrease
          </li>
        </ul>
        <small>This is a passive ability and cannot be roleblocked.</small>
      </li>
    </div>
    <div class="row">
      <div class="example my-3">
        <strong>Example</strong>: Straw is an Edema Ruh and a Re’lar with two
        elevations in Arithmetics. He goes to Imre and visits Devi’s to get a
        loan. Thanks to the second level upgrade of Reduced Interest, his normal
        30% interest rate is reduced by 30%, so the interest rate on his loan is
        now 21%.
      </div>
    </div>
    <div id="RhetoricLogic" class="row my-2 pt-2">
      <h2>Rhetoric and Logic</h2>
    </div>
    <div class="list-group mb-3">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Argumentum Ad Nauseam</em></h5>
          <small class="text-muted">E'lir</small>
        </div>
        <p class="mb-2 flavor">
          You begin a conversation with your target, educating them on the
          intricacies of ancient Yllish agriculture (or something equally
          fascinating to you), boring them so much they forget to file a
          complaint.
        </p>
        <p class="mb-1">Cancel the vote(s)
          <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="If your target is Proficient in Hyperbole, you will not cancel the two complaints from that action; only the first two complaints filed."
          >
            2
          </button>       
        of your target.</p>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Proficient in Hyberbole</em></h5>
          <small class="text-muted">Re'lar</small>
        </div>
        <p class="mb-2 flavor">
          You have a tendency to exaggerate, especially when talking about your
          opponents.
        </p>
        <p class="mb-1">
          You can cast a total of 4 complaints, either against the same student
          or different students. These complaints are still filed in the thread,
          so to cast for different people, you would make a red-vote without
          retracting the previous vote.
        </p>
        <small>If role-blocked, only first two complaints count</small>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Persuasive Arguments</em></h5>
          <small class="text-muted">El'the</small>
        </div>
        <p class="mb-2 flavor">
          You're very good at persuading people to your side of things.
        </p>
        <p class="mb-1">Change one of your target's complaints 
          <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="If the target has filed no complaints, you cannot make them complain."
          >
            3
          </button>	
	(chosen at random) to someone else.</p>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Law of Contraposition</em></h5>
          <small class="text-muted">Master</small>
        </div>
        <p class="mb-1">
          Redirect a targeted action of another player to another player of your 
	  choice. You must specify the action being redirected, and if the player 
	  does not take that action then the redirect has no effect. Law of 
	  Contraposition cannot be roleblocked by any other action
	  <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="It can still be roleblocked by a passive effect like the Ankers roleblock or being called home as a Vint/Aturan."
          >
            4
          </button>
	  except mommets. 
        </p>
      </li>
    </div>
    <div id="Archives" class="row my-2 pt-2">
      <h2>Archives</h2>
    </div>
    <div class="row">
      <p class="my-1">
        Scrivs spend a lot of time in the Stacks and Tomes. There’s a lot of
        knowledge crammed in their heads, making them an unexpected sort of
        formidable foe.
      </p>
      <ul>
        <li class="star">
          <strong>Second level upgrade</strong>: Gain an Archives action period.
        </li>
        <li class="star">
          <strong>Third level upgrade</strong>: Gain a second Archives action
          period.
        </li>
        <li class="star">
          <strong>Master level upgrade</strong>: Gain a third Archives action
          period.
        </li>
      </ul>
    </div>
    <div class="list-group">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Omen Recognition</em></h5>
          <small class="text-muted">E'lir</small>
        </div>
        <p class="flavor mb-1">You recognize the signs of all kinds of fae.
	  <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="For the purposes of this game, Fae = Skindancers. There aren’t any other Fae in the game."
          >
            5
          </button>
	</p>
        <p class="mb-1">
          You can investigate any event and determine whether or not it was
          caused by a Skindancer.
        </p>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>School Records</em></h5>
          <small class="text-muted">Re'lar</small>
        </div>
        <p class="mb-1">
          You can research any student, learning what fields they’ve been
          elevated in and what their specialties are.
        </p>
        <small>This cannot be used when not attending the University.</small>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Banned Books</em></h5>
          <small class="text-muted">El'the</small>
        </div>
        <p class="my-2 flavor">
          With a bit of searching, you’ve managed to find a few dangerous books
          deep in the Stacks.
        </p>
        <p class="my-2">
          If you’ve studied
	  <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="i.e. you’ve been elevated in said field, or you’ve learned an ability in that field from Banned Books already."
          >
            6
          </button>
	  in another field 
	  <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="This includes fields which have been destroyed."
          >
            7
          </button>
	  (with the exception of Naming), you
          may use these books to learn another of that field’s abilities, of
          your choice. If you have not studied in another field, you can choose
          which field you’d like to study and you will learn a random ability in
          that field.
        </p>
        <p class="my-2">
          Learning a new ability takes <strong>2 action periods</strong>. This
          can be spread out over 2 months/turns or all in the same month/turn.
          If you use 2 actions periods on the same turn, you will lose all other
          actions, including PMs and complaints, since you’re spending all your
          time studying in the Stacks.
        </p>
        <p class="my-2">
          You have a (+10%) chance of getting caught the first time you
          research. There is a (+10%) every time you research thereafter. If you
          use it for 2 action periods on the same turn, there is a (+20%) chance
          of getting caught. If you are caught, you will be brought up on
          Conduct Unbecoming and receive <a href="{{ url_for('rules_uni_basics') }}#Punishments">lashes</a> as
          your punishment.
        </p>
        <ul>
          <li class="check">
            <strong>Master level</strong>: No chance of getting caught. They’re
            not banned from you, after all.
          </li>
        </ul>
        <small
          >After learning an action in a new field, you cannot use an Archives
          action period to use that ability. You may only use a general action
          period or a period specific to the learned ability’s field.</small
        >
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Fae Lore</em></h5>
          <small class="text-muted">Master</small>
        </div>
        <p class="flavor mb-1">
          Your fellow students may laugh at your studies, but they’ve come in
          awfully handy lately. While they’re all carrying around iron to
          protect themselves from the Skindancers, you know holly is the way to
          go.
        </p>
        <p class="mb-1">
          If you target a Skindancer with an action, their actions are
          cancelled.
        </p>
      </li>
    </div>
    <div id="Sympathy" class="row my-2">
      <h2>Sympathy</h2>
    </div>
    <div class="row">
      <p class="my-1">
        Sympathy works with Alar, and the stronger one’s Alar is, the harder it
        is to beat them. Those who study Sympathy are susceptible to cracking
        and being sent to the Crockery. Students in Sympathy have a Sympathy
        action period, and the Master Sympathist gains an additional Sympathy
        action period. Sympathy action periods can be used to make mommets, use 
	mommets, 
	  <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="Including mommets bought from Devi."
          >
            8
          </button>
	or use Malfeasance Protection. 
      </p>
    </div>
    <div class="list-group">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Mommet-making</em></h5>
        </div>
	<div>
	  <p class="mb-1">
	   All mommets are 1-use and cannot be redirected or roleblocked by another 
	   action. 
	  <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="Using a mommet can still be roleblocked by e.g. staying at Anker’s or being called home as a Vint/Aturan, and by Firestop (which is passive)."
          >
            9
          </button>
	   When used (except at Master level), a mommet blocks all actions 
	   of its target. Mommets retain the level at which they’re created, and 
	   take 1 action period to create.
	  </p>
	</div>
        <ul>
          <li class="check">
            <strong>First level upgrade</strong>: Make a mommet from an
            unidentified piece of hair you’ve found (a random player), which can
            then be used to incapacitate that player for a turn as an action.
            You will learn the identity of the player once it is made.
            <ul>
              <li class="arrow">(+1) insanity bonus for use.</li>
            </ul>
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: Your mommet can be made from
            a specific player of your choosing.
            <ul>
              <li class="arrow">(+2) insanity bonus for use.</li>
            </ul>
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: You may target someone who was
            sabotaged/killed the previous cycle to search for traces of their
            killer/saboteur, making a mommet of what you find (though you won’t
            learn the target of the mommet). This can similarly be used to
            roleblock them as an action.
            <ul>
              <li class="arrow">(+3) insanity bonus for use.</li>
            </ul>
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: You may use a third-level
            mommet to kill the player who is its target. You can still make
            second level mommets, but those cannot be used to kill your target.
            <ul>
              <li class="arrow">(+4) insanity bonus for use.</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Malfeasance Protection</em></h5>
        </div>
        <ul>
          <li class="check">
            <strong>First level upgrade</strong>: Create a binding between you
            and another student. All actions that happen to you also affect the
            person you’re bound to.
            <ul>
              <li class="arrow">(+1) insanity bonus for use.</li>
            </ul>
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: Create a binding between you
            and another student, both ways. All actions that happen to you also
            affect the person you’re bound to, <em>and vice versa</em>.
            <ul>
              <li class="arrow">(+2) insanity bonus for use.</li>
            </ul>
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: Create a binding between you
            and another student. All negative actions 
	    <button
              type="button"
              class="btn rounded-pill btn-sm bg-info"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-trigger="focus"
              data-bs-content="Negative effects like being roleblocked from staying at Anker’s still affect you. Negative actions include roleblocks, Argumentum Ad Nauseam, plum bobs, and attacks."
            >
              10
            </button>	    
	    on either person are split between the 2, and downgraded. Downgraded 
	    effects: role-blocks→no effect, plum bobs→no effect, Argumentum ad 
	    Nauseam→no effect, kills/sabotages→role-blocks (all other actions 
	    that cycle are canceled for both players: complaints, impressing, 
	    anything in Imre, etc).
            <ul>
              <li>(+3) insanity bonus for use.</li>
            </ul>
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: Create a binding between you
            and another student. All negative effects on you are transferred to
            the other student and do not hit you.
            <ul>
              <li class="arrow">(+4) insanity bonus for use.</li>
            </ul>
          </li>
        </ul>
      </li>
    </div>
    <div id="Physicking" class="row my-2">
      <h2>Physicking</h2>
    </div>
    <div class="row">
      <p class="mb-3">
        The Medica is a great place to learn all about medicine and keeping
        people healthy through treatment and preventive care. The Master
        Physicker has a Physicking action period. All Physickers can access all
        abilities, but each ability’s use depends on how much time a person has
        spent studying Physicking.
      </p>
    </div>
    <div class="list-group">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Medica Emergency</em></h5>
        </div>
        <p class="flavor mb-1">
          Due to a medical emergency, you’re spending a lot of time in the
          Medica to help out.
        </p>
        <p class="mb-1">
          All actions targeting you fail the turn after you place the action. 
	  Cannot be used twice in a row.
        </p>
        <ul>
          <li class="check">
            <strong>First level</strong>: You cannot take any other actions,
            including PMing or filing a complaint.
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: You’ve learned to juggle
            things a little better, so you can PM, but you still can’t file
            complaints.
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: You can both PM and file
            complaints.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: You may use your Physicker 
	    action period, but all other action periods are still unavailable.
          </li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Medica Detainment</em></h5>
        </div>
        <p class="mb-1">
          Detain a player in Medica for a turn, role-blocking all of their
          actions for 1 turn.
        </p>
        <ul>
          <li class="check">
            <strong>First level</strong>: 30% chance you’ll get caught and
            brought up on charges of Conduct Unbecoming, with a punishment of
            lashings.
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: 20% chance of getting caught.
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: 10% chance of getting caught.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: No chance of getting caught
            (you’re not doing anything wrong).
          </li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Psychological Counselling</em></h5>
        </div>
        <p class="flavor mb-1">
          You provide counselling for someone at risk of cracking, helping them
          cope with their problems.
        </p>
        <p class="mb-1">
          Decreases the target's chances of cracking that turn. If you attempt
          to self-target, you will receive an increase to your insanity rather
          than a reduction, as talking to yourself is not a sign of a sound
          mind.
        </p>
        <ul>
          <li class="check">
            <strong>First level</strong>: (-1) reduction to insanity.
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: (-2) reduction to insanity.
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: (-3) reduction to insanity.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: (-4) reduction to insanity.
          </li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Cheating Death</em></h5>
        </div>
        <p class="mb-1">
          Follow a player and if they’re attacked with a sabotage or kill, your
          amazing skills prevent them from dying. Unfortunately, this also
          drains you of energy, so you can’t do it twice in a row. Cannot self
          target.
        </p>
        <ul>
          <li class="check">
            <strong>First level</strong>: 50% chance their wounds from a kill
            attempt are beyond your abilities and they will die. 25% chance you
            won’t prevent a sabotage. If you don’t succeed in fully protecting
            them, you’ll at least succeed in delaying their death, and they will
            have an extra turn before they succumb to their insanity/death.
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: 50% chance their wounds from
            a kill attempt are beyond your abilities and they will die.
            Sabotages are fully prevented. If you don’t succeed in protecting
            someone from death, you will at least delay their death for a turn.
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: 25% chance their wounds from a
            kill attempt are beyond your abilities and they will die. Sabotages
            are fully prevented. Deaths you can’t prevent will be delayed an
            extra turn.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: Both kills and sabotages are
            fully prevented.
          </li>
        </ul>
      </li>
    </div>
    <div id="Alchemy" class="row my-2">
      <h2>Alchemy</h2>
    </div>
    <div class="row">
      <p class="mb-3">
        At first level, gain an Item Creation period that can be used for
        crafting items in Alchemy or Artificery. All alchemy items are usable
        only once, unless otherwise stated. Each has a risk to it that lessens
        as the student is elevated higher in the field. All of these items can
        be given away or destroyed. Those who study Alchemy are more susceptible
        to cracking and being sent to the Crockery. Making items will give an
        insanity bonus for that turn. The upgrade level of an Alchemy item is
        determined by the number of levels in Alchemy the <em>user</em> has.
      </p>
    </div>
    <div class="list-group">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Tenaculum</em></h5>
          <small class="text-muted">E'lir</small>
        </div>
        <p class="mb-1">Destroy an item or cancel an action.</p>
        <ul>
          <li class="arrow mb-2">(+1) insanity bonus on creation.</li>
          <li class="check">
            <strong>First level</strong>: 20% chance of going awry and
            destroying a different item 
            <button
              type="button"
              class="btn rounded-pill btn-sm bg-info"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-trigger="focus"
              data-bs-content="If the player has no other items, then the going awry will take the form of one of the other options (destroying one of your items, cancelling one of your other actions, or cancelling one of their actions)."
            >
              11
            </button>
	    or canceling a random action of the
            target or yourself.
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: 10% chance of going awry.
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: 100% chance it will destroy
            what you want or cancel what you request.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: You have enough for 2 uses.
            <button
              type="button"
              class="btn rounded-pill btn-sm bg-info"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-trigger="focus"
              data-bs-content="Once the tenaculum has been used one time, it is 
		effectively a “half-tenaculum” item which only a Master can use; 
		if anyone else becomes in possession of the item, it disappears 
		from the game (because they cannot actually use it for anything)."
            >
              12
            </button>            
          </li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Firestop</em></h5>
          <small class="text-muted">Re'lar</small>
        </div>
        <p class="mb-1">Protects from heat-based malfeasance
          <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="This includes mommets, tenaculum, Naming actions 
	      that use Fire, malfeasance protection, and other firestop going volatile."
            >
              13
            </button>            
 	 and bone tar as a passive self-protect.</p>
        <ul>
          <li class="arrow mb-2">(+2) insanity bonus on creation.</li>
          <li class="check">
            <strong>First level</strong>: 20% chance of failing and going
            volatile, sending the target to Medica (total role-block for that
            turn and the next while they recover).
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: 10% chance of failing and
            going volatile, sending the target to Medica (total role-block for
            that turn and the next while they recover).
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: No chance of failure.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: You’ve made enough for 2
            uses.
          </li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Plum Bob</em></h5>
          <small class="text-muted">El'the</small>
        </div>
        <p class="mb-1">
          Drug a player and gather information from them. When using the plum
          bob, player will PM the GM, informing them of the use, and the
          questions they want to ask, just to make sure the questions are valid.
        </p>
        <p class="mb-1">
          Players can ask a maximum of 5 basic questions (questions like “Who
          are the other Skindancers” and “What abilities do you have/What fields
          are you studying” do not count as a single question). Once the
          questions have been cleared, the GM will set up a PM between the 2
          players during the next turn. Target must answer all questions
          truthfully.
        </p>
        <p class="mb-1">
          Because the plum bob is dangerous, there is a chance the target will
          fly into a rage. If this happens, the student who used the plum bob
          will be brought on the Horns for Conduct Unbecoming, receiving
          <a href="{{ url_for('rules_uni_basics') }}#Punishments">lashings</a> as punishment, and cannot use
          <a href="{{ url_for('rules_imre') }}#NoxsApothecary">nahlrout</a> to prevent their effect. The
          target once in a rage may choose to stop answering questions or to
          answer untruthfully. The questioner is not informed if or when this
          happens.
        </p>
        <ul>
          <li class="arrow mb-2">(+3) insanity bonus on creation.</li>
          <li class="check">
            <strong>First level</strong>: 30% chance the target will fly into a
            rage on the second question. Third and fourth questions go up each
            +20%, with the fifth question increasing another +30%.
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: 30% chance of flying into a
            rage on second question, +10% on third and fourth, +30% on fifth.
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: +10% chance on second question
            and third questions, +20% on fourth question, +30% on fifth.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: +10% chance on second question, 
	    third, and fourth question, +20% on fifth.
          </li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Bone-tar</em></h5>
          <small class="text-muted">El'the</small>
        </div>
        <p class="mb-1">Destroy a lodging 
          <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="All players who were at said location (assuming 
	      they’re not dead) are left on the Streets for the remainder of the term."
            >
              14
            </button>            
	  (Mews or an inn).</p>
        <ul>
          <li class="arrow mb-2">(+3) insanity bonus on creation.</li>
          <li class="check">
            <strong>First level</strong>: 50% chance of it going volatile, and
            killing half of the players 
            <button
              type="button"
              class="btn rounded-pill btn-sm bg-info"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-trigger="focus"
              data-bs-content="i.e. each player staying there has a 50% chance of dying, including you."
              >
                15
              </button>
	    staying at the location (including
            yourself).
          </li>
          <li class="check">
            <strong>Second level upgrade</strong>: 25% chance of going volatile.
          </li>
          <li class="check">
            <strong>Third level upgrade</strong>: 10% chance of going volatile.
            If it does, you will be injured and cannot make any actions the
            following turn, as you’re recovering in Medica.
          </li>
          <li class="check">
            <strong>Master level upgrade</strong>: You may choose if it goes
            volatile or not. If you choose for it to go volatile, there’s a 10%
            chance you’ll be injured in the fire-fog and you’ll spend the next
            turn recovering in Medica, unable to make any actions (including
            disciplining).
          </li>
        </ul>
      </li>
    </div>
    <div class="row pt-3">
      <div class="example my-2">
        <strong>Example</strong>: Hael is the Master Alchemist. He creates
        Bone-tar and then passes it to Burnt, who has never studied Alchemy.
        Burnt uses the Bone-tar to destroy The Windy Tower. Because she has no
        elevations in Alchemy, the Bone-tar has the first level effects, meaning
        that she could potentially die in the destruction.
      </div>
      <div class="example my-2">
        <strong>Example</strong>: Wilson is an Re’lar who has only been elevated
        in Alchemy once. She creates Plum Bob. After the Plum Bob’s creation,
        Elbereth uses a Thieves Lamp on Wilson and steals the Plum Bob. Elbereth
        happens to be an El'the with 3 elevations in Alchemy, so when she uses
        the stolen Plum Bob on Wilson, she gets the third level upgrade effect.
      </div>
    </div>
    <div id="Artificery" class="row my-2">
      <h2>Artificery</h2>
    </div>
    <div class="row">
      <ul>
        <li class="star">
          <strong>First level</strong>: Items are usable only once. Gain an Item
          Creation period which can be used for crafting Alchemy or Artificery
          items.
        </li>
        <li class="star">
          <strong>Second level upgrade</strong>: Items have a 50% chance of
          being usable twice (decided at the creation, so the creator knows upon
          creating the item if it has one or 2 uses).
        </li>
        <li class="star">
          <strong>Third level upgrade</strong>: Items are usable twice.
        </li>
        <li class="star">
          <strong>Master level upgrade</strong>: Items are usable thrice.
        </li>
      </ul>
      <p class="mb-3 note">
        <em>Note</em>: Players who create an item and then are elevated to a new
        level do not gain the upgrade on the item they created previously. Unlike Alchemy items, Artificery items
        retain the upgrade of the level the player was when they created them.
      </p>
    </div>
    <div class="list-group">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Ward</em></h5>
          <small class="text-muted">E'lir</small>
        </div>
        <p class="mb-1">
          Detects a random action used on you by someone else (either offensive
          or defensive).
        </p>
        <ul>
          <li class="arrow">(+1) insanity bonus for creation</li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Bloodless</em></h5>
          <small class="text-muted">Re'lar</small>
        </div>
        <p class="mb-1">Passively protects from a sabotage.</p>
        <ul>
          <li class="arrow">(+2) insanity bonus for creation</li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Thieves Lamp</em></h5>
          <small class="text-muted">Re'lar</small>
        </div>
        <p class="mb-1">
          Robs a player of 30% of their money and 50% of their possessions.
            <button
              type="button"
              class="btn rounded-pill btn-sm bg-info"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-trigger="focus"
              data-bs-content="If you have only one item, it will always be stolen. 
		But otherwise, if you have multiple items then the number stolen 
		will round down (e.g. if you have three items you will still only 
		have one stolen)."
              >
                16
              </button>
        </p>
        <ul>
          <li class="arrow">(+2) insanity bonus for creation</li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em>Gram</em></h5>
          <small class="text-muted">El'the</small>
        </div>
        <p class="mb-1">
          Passively protects from sabotages, kills, and malignant sympathy.
            <button
              type="button"
              class="btn rounded-pill btn-sm bg-info"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-trigger="focus"
              data-bs-content="Mommets and malfeasance protection."
              >
                17
              </button>
          Grams cannot be destroyed.
        </p>
        <ul>
          <li class="arrow">(+3) insanity bonus for creation</li>
        </ul>
      </li>
    </div>
    <div id="Naming" class="row my-2 sparkley last">
      <h2>Naming</h2>
    </div>
    <div class="row">
      <p class="mb-2">
        Naming is perhaps the most arcane of all the arcane arts. Seeing the
        true Name of a thing or living being, if one calls the true Name, one
        can control it. As such, Naming works a little differently than the
        other fields. There are no specific abilities, but there are Names
        students who wish to learn Naming can learn. Each Name has a basic
        function, but it’s up to the Namer’s discretion on what they want to
        actually <em>do</em> with that Name.
      </p>
      <p class="mb-2">
        When the Master Namer elevates a student the first time, the student
        learns the Name of the Wind, and by using Wind, they can learn more
        Names. Once the Namer has used Wind once, they have a 25% chance of
        learning a new, random Name. Upon using Wind twice, they have a 50%
        chance of learning a new Name. This percent increases until the Namer
        learns a new Name. Then the percentage resets to 0%, with (+25%) each
        time the new Name is used. Using the Name of the Wind after they’ve
        learned 2 names will <em>not</em> increase the chance of learning a
        third, and so on. While the Namer is still on their first Naming rank,
        they can only use 1 Name per turn, regardless of how many Names they
        learn.
      </p>
      <p class="mb-2">
        After a student learns the Name of the Wind, they will have the same
        percentage chance of learning new names regardless of whether they are
        currently attending the University (including if they are expelled).
      </p>
    </div>
    <div class="row pt-3">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
          <em><strong>Warning</strong></em
          >: As a Namer learns new Names, their sanity is affected. For each
          Name beyond the first that they learn, their insanity roll bonus
          increases by one per Name. Additionally, each time they use more than
          1 Name in a single turn, their insanity bonus increases.
        </li>
      </ul>
    </div>
    <div class="row pt-4">
      <ul>
        <li class="star">
          <strong>First level</strong>: Namer learns the Name of the Wind. Each
          Name learned after the first gains a (+1) bonus to the insanity roll.
        </li>
        <li class="star">
          <strong>Second level</strong>: Gain a Naming action period. Can use 2
          Names at once. (+2) bonus to insanity rolls each time you use 2 Names
          in a turn (on top of the Names bonus).
        </li>
        <li class="star">
          <strong>Third level</strong>: Gain a second Naming action period. Can
          use 3 Names at once. (+4) bonus to insanity rolls each time you use 3
          Names in a turn (on top of the Names bonus).
        </li>
        <li class="star">
          <strong>Master level</strong>: Gain a third Naming action period. Can
          use 4 Names at once. (+6) each time you use 4 Names in a turn (on top
          of the Names bonus). <em>Note on the Master Namer</em>: They know all
          10 Names, but because they are the Master and have therefore proven
          themselves to be a competent and responsible Namer, their Naming
          knowledge insanity bonus is only (+3).
        </li>
      </ul>
    </div>
  </div>
  <div class="row pt-1">
    <div class="note">
      <em><strong>Important Note</strong></em
      >: Names can only be invoked once per turn. Invoking a Name takes an
      action. This applies to every Name invoked, even if they’re tied to the
      same action.
    </div>
  </div>
  <div class="row pt-3">
    <div class="example my-3">
      <strong>Multi-Name Order Example</strong>: Use Fire to kill all those who
      attack me this cycle and use Earth to prevent my death. (This action would 
      take up two action periods and grant a +2 bonus to the insanity roll, along 
      with at least +2 from knowing two Names (Fire and Earth).)
    </div>
    <div class="example my-3">
      <strong>Insanity Bonus Example</strong>: Araris is an El’the Namer who has
      been elevated by the Master Namer through E’lir and Re’lar. He knows 5
      Names, so by default, he has a (+4) bonus to his insanity rolls. If he
      uses 3 of his Names in a turn, he will gain an <em>additional</em> (+4)
      bonus to his insanity roll. Therefore, his insanity roll will have a (+8)
      bonus, making it <em>much</em> more likely that he will crack and be sent
      to the Crockery.
    </div>
  </div>
  <div class="row pt-3">
    <ul>
      <li class="wind">
        <em>Wind</em> - Action Manipulation, Action Block, PM Spying, Attack
      </li>
      <li class="iron">
        <em>Iron</em> - Artificery Items, Fae, Action Block, and Protection
      </li>
      <li class="earth">
        <em>Earth</em> - Action Block, Action Protection, Attack Protection
      </li>
      <li class="fire">
        <em>Fire</em> - Attack, Mass Attack, Item Destruction
      </li>
      <li class="water">
        <em>Water</em> - Action Block, Attack Protection, Action Manipulation
      </li>
      <li class="blood">
        <em>Blood</em> - Action Manipulation, Attack Protection, Attack
      </li>
      <li class="bone">
        <em>Bone</em> - Action Manipulation, Action Block, Attack Protection,
        Attack, Alchemy Items
      </li>
      <li class="stone"><em>Stone</em> - Protection, Action Block, Items</li>
      <li class="holly">
        <em>Holly</em> - Items, Fae Protection, Fae Action Block, Seeking
        Manipulation/Fae
      </li>
      <li class="amber"><em>Amber</em> - Alchemy, Mommets</li>
    </ul>
  </div>
  <div class="row">
    <div class="note">
      <em><strong>Important Note</strong></em
      >: Be ready to state both the base action you’re going for and how each
      additional Name is affecting that action. You’ll want to place Naming
      action early so the Naming GM has a chance to work with you and decide the
      effect of the action.
    </div>
  </div>
</div>
{% endblock %}
