{% extends 'base_rules.html' %} {% block rules %}
<div class="container" style="font-family: Luminari">
  <div id="Imre" class="my-3">
    <h1>Imre</h1>
    <div class="row">
      <p class="mb-2">
        Every term/full cycle, players (students and Masters alike) can go to
        Imre once (except for those living in
        <a href="{{ url_for('rules_uni_basics') }}#GreyMan"><em>The Grey Man</em></a> or
        <a href="{{ url_for('rules_uni_basics') }}#PearlOfImre"><em>The Pearl of Imre</em></a
        >). For the month they are in Imre, students cannot impress (<a
          href="{{ url_for('rules_uni_basics') }}#ElevationPoints"
          >file EP</a
        >
        with) a Master and Masters cannot elevate students, though students can
        still be elevated. Players cannot do any University action (use a field
        ability or create an item), but they can do anything in Imre. They may
        still send PMs to anyone at the University (assuming they’re not
        expelled).
      </p>
      <p class="mb-2">
        Imre has a whole host of possibilities that aren’t necessarily available
        at the University. There are 5 locations players can stop by:
      </p>
    </div>
    <div class="row">
      <ul>
        <li class="star"><a href="#Eolian">The Eolian</a></li>
        <li class="star"><a href="#NoxsApothecary">Nox's Apothecary</a></li>
        <li class="star">
          The Moneylenders: <a href="#Devi">Devi</a> or
          <a href="#Giles">Giles</a>
        </li>
        <li class="star"><a href="#LoadedDice">The Loaded Dice</a></li>
        <li class="star"><a href="#BlackMarket">The Black Market</a></li>
      </ul>
      <p class="mb-2">
        Items for sale at the Apothecary and Black Market will be given to each
        player going to Imre at the beginning of the cycle they are heading
        there. Players can also sell items and contracts on the Black Market.
        Contracts are sold for whatever the seller thinks they are worth.
      </p>
      <p class="mb-2">
        Players can go to the Eolian once per month, though they can only try
        for their Talent Pipes once. Players can go to The Loaded Dice once per
        month, unless they are blacklisted by the establishment. Players can
        only go to Devi’s or Giles’ once per term. They can purchase/sell any
        number of items/contracts at the Black Market or the Apothecary, while
        supplies last.
      </p>
    </div>
    <div id="Eolian" class="row my-2">
      <h2>The Eolian</h2>
    </div>
    <div class="row">
      <ul>
        <li class="sharp">
          Each player can try for their Talent Pipes once in the game. An
          attempt costs 1 talent, nonrefundable. Every player has a
          randomly-distributed base stat for their character’s musical ability,
          and when you start the game, you will know the average musical talent
          of your character. As stated in
          <a href="#ApplicationSystem">the Application System</a> section above,
          players can choose to submit a recording showcasing their musical
          ability in order to boost this stat pre-game.
        </li>
        <ul>
          <li class="eighthnote">
            All players are able boost their stats in-game by going to the
            Eolian and practicing. Each practice will boost your base stat by
            .5. You may only practice once per time in Imre.
          </li>
        </ul>
        <li class="sharp">
          When you try for the Pipes, the GM will roll a die for your
          performance, and that will be added to your base stat. This means that
          a really good musician who has a bad performance might not get the
          Pipes, while a mediocre musician who has a really good performance
          could. You’ll never know unless you try.
        </li>
        <li class="sharp">
          Talent Pipes give an additional <a href="{{ url_for('rules_uni_basics') }}#Currency">10 talents</a> per
          cycle to any player who holds them. Talent Pipes can be given to other
          players,
          <button
            type="button"
            class="btn rounded-pill btn-sm bg-info"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-trigger="focus"
            data-bs-content="If a player comes into possession of two sets of Talent 
	      Pipes, they effectively ‘combine’ into one set and the other is lost from 
	      the game. They still only give ten talents per term."
          >
            1
          </button>
	  but they cannot be stolen. If given away, the player who
          initially won them cannot win another set.
        </li>
      </ul>
    </div>
    <div id="NoxsApothecary" class="row my-2">
      <h2>Nox's Apothecary</h2>
    </div>
    <div class="row">
      <p>
        Each month, a variety of items/services are available for purchase by
        anyone who wants to pay the cost. The courier service is always
        available, but the items are based on inventory and may run out. Should
        an item run out, players will have to wait for it to be restocked.
        Restocking happens at the beginning of each term. You may also fail to
        purchase it if it runs out while you and many others are trying to buy
        it.
      </p>
      <p class="note col-12">
        <em><strong>Important Note</strong></em
        >: Most Apothecary items can be destroyed.
      </p>
    </div>
    <div class="row">
      <ul>
        <li class="apothecaryBullet">
          <em>Nahlrout</em>: 1 talent per ounce. Protects against lashing
          effects when used on self; action-cancellation when used on someone
          else. (one-time use per ounce)
        </li>
        <li class="apothecaryBullet">
          <em>Couriers</em>: 2 talents per message. Sends an anonymous message
          to any player, delivered at the end of the month.
        </li>
        <li class="apothecaryBullet">
          <em>Bloodless</em>: 10 talents. Protects against sabotage.
        </li>
        <li class="apothecaryBullet">
          <em>Gram</em>: 25 talents. Stops kill/sabotage/malignant sympathy
          actions against the holder. (cannot be destroyed) May only be used
          twice.
        </li>
      </ul>
    </div>
    <div id="Moneylenders" class="row my-2">
      <h2>Moneylenders</h2>
    </div>
    <div class="row">
      <p>
        There are two moneylenders that are available to go to in Imre. When
        borrowing money from the moneylenders, the amount of interest is due at
        the end of each term. Players who default on a debt may not take out
        another.
      </p>
    </div>
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary" id="Giles">
          <h6 style="text-decoration: underline">Giles'</h6>
          <p>
            Only players who are staying at
            <a href="{{ url_for('rules_uni_basics') }}#GreyMan"><em>The Grey Man</em></a> (or
            <a href="{{ url_for('rules_uni_basics') }}#Cealdish">Cealdish Commoners</a>) can go to Giles’. Giles
            will give loans up to 2 talents and has an interest rate of 15% per
            term. Players are not able to put items up for collateral to
            increase the loan amount like they can with Devi. If you default on
            a loan with Giles, he will let the owners of
            <em>The Grey Man</em> know, and you will be blacklisted from their
            establishment.
          </p>
        </li>
        <li class="list-group-item list-group-item-warning" id="Devi">
          <h6 style="text-decoration: underline">Devi's</h6>
          <p>
            Each player can go to Devi’s to borrow money from her. The minimum
            loaned is 4 talents and the maximum is half of the player’s term
            income. 
            <button
              type="button"
              class="btn rounded-pill btn-sm bg-info"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-trigger="focus"
              data-bs-content="Stipend and Talent Pipes if you have them."
            >
              2
            </button>
	    (Players can also put up items for collateral to increase
            the loan amount.) Interest starts accruing immediately, at a rate of
            30% per term, so if a student borrows 4 talents, the interest will
            be 1 talent and 2 jots, making the full amount owed 5 talents and 2
            jots.
          </p>
          <p>
            If students cannot pay the interest, Devi will make a mommet with
            the player’s blood, and that mommet will go into
            <a href="#BlackMarket">the Black Market</a> for other players to
            purchase, with a cost equal to the player’s debt.
          </p>
        </li>
      </ul>
    </div>
    <div id="LoadedDice" class="row my-2">
      <h2>The Loaded Dice</h2>
    </div>
    <div class="row">
      <p>
        Everyone likes being risky every once in a while, right? The Loaded Dice
        fulfills all your gambling needs. Don’t let the name throw you off.
        We’re totally honest here!
      </p>
      <p>
        Every player can come to The Loaded Dice and play a game. The house
        rolls 1d20 and the gambler is able to bet on up to 5 numbers. The more
        numbers you bet on, the higher your chances of winning but the lower
        your winnings will be. You can bet a maximum of 1 talent and a minimum
        of 1 drab and you will win the ratio of the denomination you bet. If
        your number comes up, you win! If it doesn’t, you lose!
        Straight-forward, right? If you win, you cannot return to The Loaded
        Dice for a full term (1 cycle). If you win twice in 2 terms / cycles,
        the owners of The Loaded Dice will blacklist you for 4 terms / cycles.
        After all, we’re honest. You better be too.
      </p>
    </div>
    <div class="row">
      <strong>Winnings Ratio</strong>
    </div>
    <div class="row">
      <ul>
        <li class="LoadedDiceBullet">1 bet = 20:1</li>
        <li class="LoadedDiceBullet">2 bet = 15:1</li>
        <li class="LoadedDiceBullet">3 bet = 10:1</li>
        <li class="LoadedDiceBullet">4 bet = 5:1</li>
        <li class="LoadedDiceBullet">5 bet = 2:1</li>
      </ul>
    </div>
    <div id="BlackMarket" class="row my-2">
      <h2>The Black Market</h2>
    </div>
    <div class="row">
      <p>
        The Black Market can be separated into 2 distinct sections:
        <strong>For Sale</strong> and <strong>Contracts</strong>.
      </p>
    </div>
    <div class="row">
      <strong>For Sale</strong>
    </div>
    <div class="row">
      <p>
        This section of the Black Market is populated partially by the GM with
        certain items available based on inventory. These items can run out, but
        will be restocked every few cycles. Services provided in the Black
        Market are always available to players. Players can also anonymously
        sell items/services on this part of the Black Market. These
        items/services are sold for the amount chosen by the player, so they can
        be as cheap or expensive as you want.
      </p>
    </div>
    <div class="row">
      <ul>
        <li class="BlackMarketBullet">
          <em>Mommets</em>: Price is the player’s debt to Devi. Mommets can be
          used for role-blocking, effectively cancelling all of that player’s
          actions (complaint, impressing, etc) the turn it is used (use does
          take up your own action). If multiple people try to buy the same
          mommet while in Imre, only the first will succeed.
        </li>
        <li class="BlackMarketBullet">
          <em>Bodyguards</em>: Variable. When purchasing the bodyguard, you tell
          them who they are to protect, and that’s who they will protect for as
          long as they are able. The bodyguard cannot be transferred to another
          player. Protects from kills, sabotages, and theft. Will protect from
          theft indefinitely, but can only protect from 2 sabotages, and 1 kill.
          (Note: if the bodyguard protects from a sabotage one turn and a kill
          comes the next, he will protect from both, but if both come through on
          the same turn, he will only protect from the kill. If theft comes
          through in either of those scenarios as well, he will protect from the
          theft in all cases). Bodyguards are not transferable between players.
        </li>
        <li class="BlackMarketBullet">
          <em>Assassins</em>: Variable. Kills a player of your choice, even if
          they are still attending the University. Can be blocked by
          actions/items that stop a kill, but cannot be blocked by actions/items
          that only stop sabotages.
        </li>
      </ul>
    </div>
    <div class="row" id="BlackMarketContracts">
      <strong>Contracts</strong>
    </div>
    <div class="row">
      <p>
        The Contracts half of the Black Market is populated solely by players.
        Players sell contracts anonymously, with the price of the contract paid
        to the person who fulfills the contract. The amount tied to the contract
        is held in escrow by the GMs until the contract is completed, and then
        it’s paid upon delivery. There are no limits to the types of contracts
        that can be sold. For some ideas of the types of things that can be
        sold: kill a particular person, intercept a person’s messages, bribe a
        Master’s vote or a player’s complaint, provide information, etc.
      </p>
      <p>
        If a player accepts a contract, they will not be told who sold it, but
        they must fulfill the contract by the end of the next cycle. If they do
        not, the contract returns to the Black Market, and not only does the one
        who previously accepted it not get anything, but they also cannot go
        back into the Black Market and accept it again.
      </p>
    </div>
    <div class="row">
      <div class="example my-3">
        <strong>Example 1</strong>: Elbereth goes to Imre and sells a contract
        for someone to sabotage Lumgol for 100 talents. Stink goes to Imre and
        only sees “Sabotage Lumgol - 100 talents”. The seller of the contract
        remains anonymous. Should Stink choose to accept this contract, he must
        sabotage Lumgol the next cycle. Once he has, El loses 100 talents and
        Stink gains 100, but El won’t know who took the contract and Stink still
        won’t know who sold it.
      </div>
    </div>
    <div class="row">
      <div class="example my-3">
        <strong>Example 2</strong>: Lumgol goes to Imre and sees a contract.
        “Sabotage Lumgol - 100 talents.” Shocked and horrified at the level of
        betrayal, she accepts this contract, solely to keep others from
        profiting from her demise. At the end of the next cycle, she has not
        sabotaged herself, so the contract returns to the Black Market. Lumgol
        returns to Imre that same turn, but in the list of contracts available
        she receives, that contract is not included, even though it is in the
        Black Market.
      </div>
    </div>
    <div class="row">
      <div class="note my-3">
        <em>Note</em>: Contracts cannot have constraints limiting them to only 1
        person or class of people (e.g. “I want an Edema Ruh to...”).
      </div>
    </div>
  </div>
</div>
{% endblock %}
