{% extends 'base_rules.html' %} {% block rules %}
<div class="container" style="font-family: Luminari">
  <div id="GameBasics">
    <div class="my-4">
      <h1>Game Basics</h1>
    </div>
    <div id="Factions" class="row">
      <div class="my-2">
        <h2>Factions</h2>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between" id="Students">
        <h5 class="my-1">
          <strong style="color: green">Students</strong>
        </h5>
      </div>
      <p class="my-1">
        The students at the University come from all across the Four Corners.
        They’re at the University to study, and nothing should interfere with a
        student and his (or her) pursuit of knowledge. Including Skindancers.
        With their regular studies interrupted, the students are doing all they
        can to rid the University of the Fae infiltrators.
      </p>
      <p class="star note">
        <strong>Win Condition</strong>: Expel or kill all the Skindancers.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between" id="Skindancers">
        <h5 class="my-1">
          <strong style="color: red">Skindancers</strong>
        </h5>
      </div>
      <p class="my-1">
        Fae creatures believed to have been exterminated by the Sithe centuries
        ago, the Skindancers are making one last stand at the University. A
        small group has infiltrated the students, taking over their bodies. They
        have one mission: eliminate the arcanists.
      </p>
      <p class="my-1">
        Skindancers have access to a Google doc to plan and conspire. They start
        the game mixed with the students, and they are able to do anything a
        student can, including <a href="#Masters">becoming a Master</a>.
      </p>
      <p class="my-1">
        Skindancers can sabotage 1 person per turn. Sabotages appear as if the
        person simply cracked, and they are sent to
        <a href="#Insanity">the Crockery</a>. If the Skindancers sabotage
        someone already in the Crockery or an expelled student, that player
        dies, unless they are protected.
      </p>
      <p class="star my-1 note">
        <strong>Win Condition</strong>: Expel, kill, or drive insane all the
        students OR destroy as many fields as starting Skindancers, which must
        include Naming, Alchemy, and Archives.
      </p>
    </li>
  </ul>
  <div id="Cycles" class="row">
    <div class="my-2">
      <h2>Cycles</h2>
    </div>
  </div>
  <div class="row">
    <p class="my-2">
      Cycles will be separated into <strong>3 turns</strong>, each representing
      1 month in the game. This means that each cycle will represent 1 full term
      at the University, since terms at the University are 3 months in length.
      Turns will be 36 hours long with 12-hour rollovers between each turn,
      making the cycles 144 hours of real time, and 108 hours of in-game time.
    </p>
    <p class="my-2">
      Turns will be mostly indistinguishable from each other. Players will be
      able to take the same number of actions each turn. The only difference
      between turns will be certain events—stipend payout, admissions, and
      lodging—that affect all players. Players have no control over stipend
      payout or admissions, but they have some minor control over lodging, in
      that they can choose where they want to stay.
    </p>
  </div>
  <div class="row">
    <strong>Turn Event Order</strong>
  </div>
  <div class="row">
    <ul>
      <li class="star">
        <a href="#Voting">Complaint-Filing</a> (including complaint-relevant
        actions)
      </li>
      <li class="star"><a href="#TheHorns">The Horns</a></li>
      <li class="star">
        All Non-Offensive Role and Item Actions, including Imre actions
      </li>
      <li class="star">All Offensive Actions</li>
      <li class="star"><a href="#Insanity">Insanity Roll</a></li>
      <li class="star"><a href="#Elevations">Elevations</a></li>
      <li class="star">
        <a href="#ElevationPoints">Filing EP</a>
        <button
          type="button"
          class="btn rounded-pill btn-sm bg-info"
          data-bs-toggle="popover"
          data-bs-placement="top"
          data-bs-trigger="focus"
          data-bs-content="An elevated student may still spend all of the EP they were going to spend; the number of EP available to spend changes for the next turn."
        >
          1
        </button>
      </li>
    </ul>
  </div>
  <div class="row">
    <p class="pt-2" style="text-decoration: underline; padding-left: 30px">
      Events Only Occurring Just Before the First Turn of Each Cycle
    </p>
  </div>
  <div class="row">
    <ul>
      <li class="star"><a href="#SocialClasses">Stipend Payout</a></li>
      <li class="star"><a href="#Admissions">Admissions and Tuition</a></li>
      <ul>
        <li class="check">Masters halved</li>
        <li class="check">Inflations and Reductions</li>
        <li class="check">Vint increase</li>
        <li class="check">
          <a href="#DecreasedTuition"><em>Decreased Tuition</em></a> from
          Arithmetics
        </li>
      </ul>
      <li class="star"><a href="#Lodging">Lodging</a></li>
    </ul>
  </div>
  <div id="Voting" class="row my-2">
    <h2>Voting</h2>
  </div>
  <div class="row">
    <p>
      Instead of lynching players, the daily vote will be used to file
      complaints with the Masters. Every player is able to cast
      <strong>2 votes</strong> each turn. Each vote counts as a complaint lodged
      against that student, and every 2 complaints counts as 1 Discipline Point
      against the player, which could result in students being put
      <a href="#TheHorns">On the Horns</a>. Votes on
      <a href="#Insanity">insane players</a> do not count (including for the
      purpose of tuition reduction).
    </p>
  </div>
  <div id="ActionPeriods" class="row my-2">
    <h2>Action Periods</h2>
  </div>
  <div class="row">
    <p class="my-1">
      All students have <strong>one (1) general action period</strong> (unless
      in <a href="#Imre">Imre</a>) which they can use for any ability they have
      access to, including the sabotage. Some fields provide additional action
      periods upon elevation. These action periods might be general or specific
      to the field, and might be provided on each elevation or only upon
      elevation to Master.
    </p>
    <p class="my-1">
      There are a maximum of four (4) action periods available. Depending on the
      number of elevations a player may have and in what
      <a href="#ArcanumFields">arcanum field</a>, some players may have only 1
      or 2 action periods, while others may have 3 or 4 action periods.
    </p>
    <p class="my-1">
      While in Imre, you <strong>do not</strong> have access to the general
      action period or any field-specific action periods. Instead, you have
      access to all the Imre actions. There are
      <a href="#Imre">five Imre locations</a> and you are able to go to each
      location each time you are in Imre (until you try for your Talent Pipes,
      and the <a href="#Eolian">The Eolian</a> is no longer available). This
      includes expelled students visiting Imre.
    </p>
    <p class="my-1">
      There are a number of passive actions that some players may have. These
      passive actions cannot be roleblocked. All active actions can be
      roleblocked and any action with a target can be redirected.
    </p>
  </div>
  <div id="Writeups" class="row my-1 pt-2">
    <h2>Writeup Reveals</h2>
  </div>
  <div class="row">
    <p class="mb-2">
      All non-information gathering actions do not receive any information past
      whether you succeeded in attempting the action and whom you targeted.
      Unless an action specifically targets a player to learn something about
      them, you will not learn whether your action succeeded.
    </p>
    <p class="my-2">
      If someone is attacked and protected, the writeup will only state that
      “Someone was attacked, but survived!” and will not specify the particular
      player. (The player in question will be notified that they were attacked,
      but not by what.)
    </p>
    <p class="my-2">
      Writeups will announce elevations, but not in which field a particular
      student was elevated.This includes elevations to Master. The
      <a href="#SkindancerMasters">destruction of a field</a> will also be
      announced, including which field was destroyed.
    </p>
  </div>
  <div id="PMs" class="row my-2">
    <h2>PMs</h2>
  </div>
  <div class="row">
    <p>
      PMs are open and do not require an action. You can make one-on-one PMs or
      group PMs. To make PMs easier for us when it comes to counting PMs and
      also to reduce the chances of messing up when someone spies on someone
      else's PMs, please start a new PM every turn. Do not roll PMs over to the
      next turn. Thank you!
    </p>
  </div>
  <div id="ApplicationSystem" class="row my-2">
    <h2>Application System</h2>
  </div>
  <div class="row">
    <p>
      During sign-ups, players are encouraged to work on a submission to send to
      the GMs. There are three submission types and each submission type will
      affect your starting stats in different ways. You may only choose
      <strong style="text-decoration: underline">one</strong> submission type,
      so choose wisely. Please do not use AI-generated submissions.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <strong style="color: #840091">Musical Talent</strong>
        </h5>
      </div>
      <p class="mb-1">
        All players will start with a base amount of musical talent, which each
        player will learn at the start of the game. However, you can increase
        this stat by recording yourself singing or playing an instrument (or
        both!) and submitting this recording to the GMs. Doing this will
        increase your odds of winning the Pipes at
        <a href="#Eolian">The Eolian</a>.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <strong style="color: #840091">Field Proficiency</strong>
        </h5>
      </div>
      <p class="mb-1">
        All players will start the game with 2
        <a href="#ElevationPoints">Elevation Points</a> in a random field.
        However, you can increase the amount of EP you start the game with and
        control which field it goes in by writing an essay about a subject at
        the University that you wish to study. Be as creative as you like.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <strong style="color: #840091">Inventory</strong>
        </h5>
      </div>
      <p class="mb-1">
        While players don’t usually start the game with an item, by submitting a
        piece of art you created, you will start the game with an item. Possible
        items to be gained by submitting art: nahlrout, ward, tenaculum,
        bloodless, gram, bone-tar. The last two items will only be possible for
        particularly impressive submissions.
      </p>
    </li>
  </ul>
</div>
{% endblock %}
